node_modules/
.idea/
dist/
.sass-cache/
.bangular-refresh
node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
node_modules
dist
.tmp
.sass-cache
bower_components
/client/assets/images/students/*
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
.DS_Store
.zedstate