node_modules/
.idea/
dist/
.sass-cache/
.bangular-refresh
node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
node_modules
dist
.tmp
.sass-cache
bower_components
/client/components/stmathChart/stmathChart.directive.js
/client/assets/images/students/*
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

.DS_Store
.zedstate