#adaChart {
	min-height: 300px;
}

#detentionChart {
	min-height: 350px;
}

#gpaChart {
	min-height: 300px;
}

.dataBlock h1 {
	font-size: 400%;
}

.dataBlock h2 {
	font-weight: normal;
}

.dataBlock p {
	margin-right: 5px;
}

/**
#gpaChart {
	min-width: 380px;
	min-height: 300px;
}

#detentionChart {
	min-width: 500px;
	min-height: 400px;
	margin-left: 8px;
}

.dataBlock {
	min-width: 300px;
	min-height: 300px;
	margin-left: 8px;
	margin-bottom: 8px;
}
**/