#adaChart {
	min-height: 300px;
}

#detentionChart {
	min-height: 350px;
}

#gpaChart {
	min-height: 300px;
}

.dataBlock h1 {
	font-size: 400%;
}

.dataBlock h2 {
	font-weight: normal;
}

.dataBlock p {
	margin-right: 5px;
}

