<md-tabs class="md-accent" md-selected="data.selectedIndex">
  <md-tab id="0" aria-controls="overview-content">
    Overview
  </md-tab>
  <md-tab id="1">
    Bratton
  </md-tab>
  <md-tab id="2">
    Duarte
  </md-tab>
  <md-tab id="3">
    Flores
  </md-tab>
  <md-tab id="4">
    Fox
  </md-tab>
  <md-tab id="5">
    Marcial
  </md-tab>
  <md-tab id="6">
    Pradhan
  </md-tab>
</md-tabs>
<ng-switch on="data.selectedIndex" class="tabpanel-container">
	<div  
         role="tabpanel" 
         id="overview-content" 
         ng-switch-when="0">
		<div layout="column" layout-align="center center" layout-margin>

			<readingplus-chart items="rdItems" date="dateReported"></readingplus-chart>

			<div layout-margin>
				<div>Complete all assigned SeeReaders with an average comprehension score of at least 80% = 10 points</div>
				<div>Complete all assigned SeeReaders with an average comprehension score of at least 75% = 9 points</div>
				<div>Complete all assigned SeeReaders with an average comprehension score of at least 70% = 8 points</div>
				<div>Complete all assigned SeeReaders with an average comprehension score of at least 65% = 7 points</div>
				<div>Complete all assigned SeeReaders with an average comprehension score of less than 65% = 6 points</div>
				<div>Did not complete all assigned SeeReaders = 0 points</div>
			</div>
		</div>
	</div>

	<div class="content" 
	         role="tabpanel" 
	         id="{{itemz.name}}-content" 
	         ng-if="$index + 1 == data.selectedIndex" 
	         ng-repeat="students in items[0]['data']">

		<div layout="column" layout-align="start center">
			<div class="container" layout-fill flex-gt-sm="75" flex-sm="100">
			  <div class="attendance-header" layout="row" layout-align="start center" layout-fill>
			  	<div hide-sm flex>
			      Student ID
			    </div>
			    <div flex="30">
			      Student Name
			    </div>
			    <div flex>
			      Lessons Completed
			    </div>
			    <div flex>
			      Lessons Assigned
			    </div>
			    <div flex>
			      Average Comprehension Score
			    </div>
			  </div>
			  <div class="course-grades" layout-fill>
			    <md-content>
			      <md-list>
			        <md-item ng-repeat="student in students['0'] | orderBy:'last_name'"
			                 ng-click="openProfile(student.illuminate_student_id)">
			          <md-item-content>
			            <div class="md-tile-content" layout="row" layout-align="space-around center">
			            	<div flex="15" hide-sm>
			                {{student.student_id}}
			              </div>
			              <div flex="30">
			                {{student.last_name}}, {{student.first_name}}
			              </div>
			              <div flex="15" >
			                {{student.lessons_completed}}
			              </div>
			              <div flex="15">
			                {{student.lessons_assigned}}
			              </div>
			              <div flex="15" >
			                {{student.avg_comprehension}}%
			              </div>
			            </div>
			          </md-item-content>
			          <md-divider ng-if="!$last"></md-divider>
			        </md-item>
			      </md-list>
			    </md-content>
			  </div>
			</div>
		</div>
	</div>
</ng-switch>