.kudos{
  background: #FFFFFF;
  margin-top: 15px;
}

md-dialog {
  min-width: 500px;
}

.kudosFrom {
  font-weight: normal;
}

.addButton {
  margin-top: 20px;
  margin-left: 20px;
}

md-icon.green-like-button {
  color: green;
}