<md-dialog>
  <form>
  <md-dialog-content>
    <!-- <md-subheader>Say "Thank you!" to a fellow teammate</md-subheader> -->
    <div>
      <form ng-submit="$event.preventDefault()">
        <div layout="row">
          <md-icon 
						md-svg-icon="bower_components/material-design-icons/social/svg/production/ic_person_outline_48px.svg"
            flex="10">
					</md-icon>
          <md-input-container flex>
            <label>Who would you like to thank? {{content}}</label>
            <input required ng-model="kudosTo">
          </md-input-container>
        </div>
        <div layout="row">
        <md-icon 
						md-svg-icon="bower_components/material-design-icons/communication/svg/production/ic_chat_48px.svg"
            flex="10">
					</md-icon>
        <md-input-container flex>
          <label>Tell them why what they did was awesome!</p></label>
          <textarea required ng-model="kudosContent"></textarea>
        </md-input-container>
        </div>
    </form>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="submit()" class="md-primary">
      Submit
    </md-button>
  </div>
  </form>
</md-dialog>