.heavy {
	font-weight: bolder;
	color: #000000;
}

.red-font {
  color: red;
}

.green-font {
  color: green;
}

.trending-down {
  width: 24px;
  height: 24px;
  color: red; }

.trending-up {
  width: 24px;
  height: 24px;
  color: green; }

.trending-neutral {
  width: 24px;
  height: 24px;
  color: black; }

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.animate-switch-container {
  position:relative;
  background:white;
  height:40px;
  overflow:hidden;
}

.animate-switch.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.5s;
  transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  bottom:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  bottom:0;
}

.sped-label {
  background-color: #FFEB3B;
  padding: 6px 8px 6px 8px;
}

md-tooltip .md-content {
  min-height: 100px;
  font-size: 14px;
}

