<div layout="column" layout-align="start center" layout-margin>
	<div layout="row" layout-align="center start">
		<div flex-gt-sm></div>
			<img ng-src="../../assets/images/students/{{students[0].student_id}}.jpg" flex flex-gt-sm="50" />
		<div flex-gt-sm></div>
	</div>
	<md-radio-group ng-model="selectedStu" ng-click="checkStudent()">
	      <md-radio-button class="name-game-buttons" ng-value="stu.student_id" 
	      				   ng-repeat="stu in students | orderBy:'student_id'">
	      		{{stu.name}}
		  </md-radio-button>
	</md-radio-group>
</div>
 <md-button class="md-fab md-fab-bottom-right"
 	ng-class="{'md-primary': percentCorrect >= 50, 'md-warn': percentCorrect < 50}" >
        {{percentCorrect}}%
    <md-tooltip>
        Total Correct
    </md-tooltip>
</md-button>